* {
    box-sizing: border-box;
}
body {
    padding:0;
    margin:0;
    height: 100%;
    max-width: 100%;
    width: 100%;
}


/* style the top navigation */
    .navbar {
    overflow-y: hidden;
    background-color: #542a3d;
    font-family: 'Poppins', sans-serif;
    padding-right: 15px;

    
 }
 
    /* style the link inside the navigation bar */
    .navbar a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    }
   
    
    /* change the color of links on hover */
    .navbar a:hover {
    border-bottom: 3px solid #ddd ;
    border-radius: 16px;
    
    }
    
    /* add a color to the active/current link */
    .navbar a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 20px;
    }

    a.navbar-brand:hover{
    border-bottom: none;
    border-radius: 0;
    }
    .nav-logo {
        width: 45px;
        height: 45px;
    }
    
    /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 50%;
    align-items: center;
    }
    h1.carousel {
        font-size: 7vw; 
        letter-spacing: 8px; 
        border-bottom: 3px solid white; 
        font-family: 'Tangerine', cursive;
        font-weight:bold; 
       
    }
    p.caption {
        letter-spacing: 2px; 
        font-size: 3vw; 
        text-align:right; 
        font-weight:bold;
        padding-bottom: 350px;
    }
    /* style the about section */
    .about {
        height: 100%;
        background-color:#ecdfdf;
        color:black;
        width:100%;
        text-align: justify;
    }
   
    img.a {
        width: 400px;
        height: 100%;
        padding-left: 30px;
    }
    
    /* stle the project1 section */
    div.project1 {
        width:100%;
        text-align: center;
        color: white;      
        position: relative;     
    }
    
    .button {
        background-color: #4CAF50; 
        border: none;
        padding: 12px 28px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; 
        transition-duration: 0.4s;
        border-radius: 30px;
        font-weight: bold;
        
    }
    .button a {
        text-decoration: none;
        color:white;
        content-visibility: visible;
    }

    .button:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    /* here is project2 section*/
    .project2 {
        width:100%;
        text-align: center;
        color: white; 
        position: relative;     
    }
    div.desk {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } 
    img { 
        width: 100%;
        height: 100vh;
      }     
      button.a {
        background-color: white; /* Green */
        border: 1px solid gray;
        color: black;
        padding: 12px 28px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        border-radius: 30px;
        font-weight: bold;
       
    }
    button.a:hover {
        background-color: #ecdfdf;
        color: black;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    }
    .a a {
        text-decoration: none;
        color:black;
        content-visibility: visible;      }

    .a a:hover {
        color: black;
    }

    /* style the contact section */
    div#contact {
        padding: 50px 50px;
    }
    
    .git {
        background-color: #ecdfdf;
        width: 60%;
        color: black;
        float: left;
        padding: 90px 0px;
        border-radius: 16px;
    }
    
    .contact {
       width: 100%;
       height: 100%;
       padding-left: 0px;
       border-radius: 20px;
       align-items: center;
    }

    .logo {
        width: 500px;
        height: 500px;
    }
    .cusneed {
        width:270px;
        height:350px;
    }
    .solution {
        width: 240px;
        height: 320px;
    } 
    .cup {
        width: 450px; 
        height: 600px;
    }
  /* Extra small devices (phones, 480px and down) */
  @media only screen and (max-width: 480px) {
    
    .about {
        font-size: 15px;
    }
    img.a {
            width: 200px;
            height: 100% ;
            padding-left: 0px;
            margin-left:auto;
            margin-right: auto;    
            display: block;     

    }
    
     div#contact {
            padding: 0px;
        }
        .logo {
            width: 400px;
            height: 400px;
        }
        div.desk {
            font-size: 15px;
        }
     
}
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (max-width: 540px) {
    
    .about {
        font-size: 15px;
    }
    img.a {
            width: 200px;
            height: 100% ;
            padding-left: 0px;
            margin-left:auto;
            margin-right: auto;    
            display: block;     
    }
   
     div#contact {
            padding: 0px;
    }
    .logo {
        width: 400px;
        height: 400px;
    }
    .cup {
        width: 350px; 
        height: 500px;
       
    }
    h1.carousel {
        font-size: 7.5vw; 
        letter-spacing: 3px; 
        border-bottom: 3px solid white; 
        font-family: 'Tangerine', cursive;
        font-weight:bolder; 
       
    }
    
    p.caption {
        letter-spacing: 0px; 
        font-size: 3vw; 
        text-align:right; 
        font-weight:bold;
        padding-bottom: 0px;
    }
    
}
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (max-width: 720px) {
    
    .about {
        font-size: 15px;
    }
    img.a {
            width: 200px;
            height: 100% ;
            padding-left: 0px;
            margin-left:auto;
            margin-right: auto;    
            display: block;     

    }
       div#contact {
            padding: 0px;
        }
        .git {
            float:none;
            padding: 50px 0px;
            width: 100%;
            border-radius: 0px;
        }
        
        h1.desk {
            font-size: 25px;
        }
        button.desk {
            font-size: 12px
        }

        h1.carousel {
            font-size: 7.5vw; 
            letter-spacing: 3px; 
            border-bottom: 3px solid white; 
            font-family: 'Tangerine', cursive;
            font-weight:bolder; 
           
        }
        
        p.caption {
            letter-spacing: 0px; 
            font-size: 3vw; 
            text-align:right; 
            font-weight:bold;
            padding-bottom: 0px;
        }
        .navbar a:hover {
            border-bottom: none;
            text-decoration: underline;
         }
         
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (max-width: 960px) {
    .about {
        align-items: center;
    }
    
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (max-width: 1140px) {
    .example {background: pink;}
  }