* {
    box-sizing: border-box;
}
body {
    padding:0;
    margin:0;
    height: 100%;
    max-width: 100%;
    width: 100%;
}
html {
    scroll-behavior: smooth;
  }
  
nav {
    background: #542a3d;;
    position: fixed;
    width: 100%;
    z-index: 999;
    height:65px;
    line-height: 65px;
}
nav .wrapper {
    max-width: 1250px;
    padding: 0 20px;
    margin: auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

 nav .wrapper .logo a img {
    width: 45px;
    height: auto;
}
.wrapper .nav-links {
    display: inline-flex;
   
}
.nav-links li{
    list-style: none;
}
.nav-links li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding:9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;

}

.nav-links li a:hover {
    background: #ddd;
    color:black
}
.nav-links .drop-menu {
    background: #542a3d;;
    width:250px;
    top: 85px;
    line-height: 45px;
    position: absolute;
    opacity: 0;
    visibility: hidden; 
}
.nav-links li:hover .drop-menu {
    top: 65px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
    padding-left: 0px;

}
.drop-menu li a {
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
}
.nav-links .mobile-item {
    display: none;
}
.wrapper input {
    display: none;
}
.wrapper .btn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
    margin-top: 10px;
}
.wrapper .btn.cancel-btn {
    position: absolute;
    right: 30px;
    top: 10px;
}

@media screen and (max-width:970px) {
    .wrapper .btn{
        display: block;
    }
    .wrapper .nav-links {
        position:fixed;
        height: 100vh;
        width:100%;
        max-width:350px;
        background: #542a3d;;
        display: block;
        top: 0;
        left: -100%;
        overflow-y: auto;
        line-height: 50px;
        padding: 50px 10px;
        box-shadow: 0 15px 15px rgba(0,0,0,0.15);
        transition: all 0.3s ease;
    }
    #menu-btn:checked ~ .nav-links {
        left: 0%;
    }
    #menu-btn:checked ~ .btn.menu-btn {
        display:none
    }
   .nav-links li {
        margin: 15px 10px;
        padding: 0 0;
    }
    .nav-links li a {
        padding: 0 20px;
        display: block;
        font-size: 20px;
    }
    .nav-links .drop-menu {
        position: static;
        opacity: 1;
        visibility: visible;
        top: 65px;
        padding-left: 20px;
        width: 100%;
        max-height: 0px;
        overflow: hidden; 
    }
    .nav-links li:hover .drop-menu {
        padding-left: 20px;
    }
    #showDrop:checked ~ .drop-menu {
        max-height: 100%;
    }
    .nav-links .drop-menu li {
        margin: 0;
    }
    .nav-links .drop-menu li a {
        font-size: 18px;
        border-radius: 5px;
    }
    .nav-links .desktop-item {
        display: none;
    }
    .nav-links .mobile-item {
        display:block;
        font-size: 20px;
        color: #f2f2f2;
        font-weight: 500;
        padding-left: 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease;
    }
    .nav-links .mobile-item:hover {
        background: #ddd;
        color:black
    }
    .wrapper input {
        display: none;
    }
}
.header {
    position: relative;
    text-align: center;
    color: white;
  }
  .header-text {
        position: absolute;
        bottom: 8px;
        right: 16px;
      }
    /* Make the image fully responsive */
    .carousel {
        padding-top: 60px;
    }
  .carousel-inner img {
        align-items: center;
        width: 100%;
        height: 100%;
    }
   h1.carousel {
        font-size: 5vw; 
        letter-spacing: 8px; 
        border-bottom: 3px solid white; 
        
        font-weight:700; 
       
    }
    p.caption {
        letter-spacing: 2px; 
        font-size: 3vw; 
        text-align:right; 
        font-weight:bold;
        padding-bottom: 350px;
    }
    /* style the about section */
    .about {
        height: 100%;
        background-color:#ecdfdf;
        color:black;
        width:100%;
        text-align: justify;
    }
   
    img.a {
        width: 400px;
        height: 100%;
        padding-left: 30px;
    }
    
    /* stle the project1 section */
    .project1, .project2, .project3, .project4{
        width:100%;
        text-align: center;
        color: white;      
        position: relative;     
    }
    
    .button {
        background-color: #4CAF50; 
        border: none;
        padding: 12px 28px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; 
        transition-duration: 0.4s;
        border-radius: 30px;
        font-weight: bold;
    }
    .button a {
        text-decoration: none;
        color:white;
        display: visible;
    }

    .button:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    /* here is project2 section*/
    div.desk {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } 
    img { 
        width: 100%;
        height: 100vh; 
      }     
      button.a {
        background-color: white; /* Green */
        border: 1px solid gray;
        color: black;
        padding: 12px 28px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        border-radius: 30px;
        font-weight: bold;
       
    }
    button.a:hover {
        background-color: #ecdfdf;
        color: black;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    }
    .a a {
        text-decoration: none;
        color:black;
        content-visibility: visible;      }

    .a a:hover {
        color: black;
    }

    /* style the contact section */
    div#contact {
        padding: 50px 50px;
    }
    
    .git {
        color: black ;
        padding: 80px 50px;
    }
    .contact {
       border-radius: 20px;
       align-items: center;
    }

    .logo {
        width: 500px;
        height: 500px;
    }
    .cusneed {
        width:270px;
        height:350px;
    }
    .solution {
        width: 240px;
        height: 320px;
    } 
    .cup {
        width: 450px; 
        height: 600px; 
        
    }
    div.gallery {
        border: 0px;
      }
      
       div.gallery img {
        width: 100%;
        height: 70%;
      }
       
      div.desc {
        text-align: center;
        color: white;
        font-size: 14px;
        padding: 25px 0 25px 0;
      }
  /* Extra small devices (phones, 480px and down) */
  @media only screen and (max-width: 480px) {
    
    .about {
        font-size: 15px;
    }
    img.a {
            width: 200px;
            height: 100% ;
            padding-left: 0px;
            margin-left:auto;
            margin-right: auto;    
            display: block;     

    }
    
     div#contact {
            padding: 0px;
        }
        .logo {
            width: 400px;
            height: 400px;
        }
        div.desk {
            font-size: 15px;
        }
        .cup {
            width: 450px; 
            height: 600px; 
            
        }
        h1.work {
            padding: 0px 0px 0px 0px;
        }
        
       
}
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (max-width: 540px) {
    
    .about {
        font-size: 15px;
    }
    img.a {
            width: 200px;
            height: 100% ;
            padding-left: 0px;
            margin-left:auto;
            margin-right: auto;    
            display: block;     
    }
   
     div#contact {
            padding: 0px;
    }
    .logo {
        width: 400px;
        height: 400px;
    }
    .cup {
        width: 350px; 
        height: 500px;
       
    }
    h1.carousel {
        font-size: 5.5vw; 
        letter-spacing: 3px; 
        border-bottom: 3px solid white; 
        font-weight:500; 
    }
    
    
    p.caption {
        letter-spacing: 0px; 
        font-size: 3vw; 
        text-align:right; 
        font-weight:bold;
        padding-bottom: 50px;
    }
    .cup {
        width: 450px; 
        height: 600px; 
        
    }
    h1.work {
        padding: 0px 0px 0px 0px;
    }
   
    
}
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (max-width: 720px) {
    
    .about {
        font-size: 15px;
    }
    img.a {
            width: 200px;
            height: 100% ;
            padding-left: 0px;
            margin-left:auto;
            margin-right: auto;    
            display: block;     

    }
      
    
        h1.desk {
            font-size: 25px;
        }
       
        h1.carousel {
            font-size: 5vw; 
            letter-spacing: 3px; 
            border-bottom: 3px solid white; 
            font-weight:500; 
        }
        
        p.caption {
            letter-spacing: 0px; 
            font-size: 3vw; 
            text-align:right; 
            font-weight:bold;
            padding-bottom: 50px;
        }
        .navbar a:hover {
            border-bottom: none;
            text-decoration: underline;
         }
         .cup {
            width: 450px; 
            height: 600px; 
            
        }
        h1.work {
            padding: 0px 0px 0px 0px;
        }
       
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (max-width: 960px) {
    .about {
        align-items: center;
    }
    h1.carousel {
        font-size: 5vw; 
        letter-spacing: 3px; 
        border-bottom: 3px solid white; 
        font-weight:bolder; 
    }
   
    
    p.caption {
        letter-spacing: 0px; 
        font-size: 3vw; 
        text-align:right; 
        font-weight:bold;
        padding-bottom: 50px;
    }
    
  } 
  .logo {
      width: 350px;
      height: 350px;
  }
  h1.work {
    padding: 0px 0px 0px 0px;
}
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (max-width: 1140px) {
    .example {background: pink;}
    
  }